In [1]:
import pandas as pd

In [3]:
psg_players = pd.Series(['Navas', "Mbapee", "Neymar", "Messi"],
          index=[1,7,10,30])

In [4]:
psg_players

1      Navas
7     Mbapee
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(['Navas', "Mbapee", "Neymar", "Messi"])

0     Navas
1    Mbapee
2    Neymar
3     Messi
dtype: object

In [6]:
dict = {1:'Navas', 7:'Mbappe', 10:"Neymar", 30:"Messi"}

pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg_players[10]

'Neymar'

In [ ]:
dict = {'Jugador':['Navas', "Mbapee", "Neymar", "Messi"],
 'Altura':[183.0, 170.0, 170.0, 165.0],
 "goles":[2,200, 200, 20]}

In [9]:
df_players = pd.DataFrame(dict, index=[1,7,10,30])

In [10]:
df_players

       1       7       10     30
1   Navas  Mbappe  Neymar  Messi
7   Navas  Mbappe  Neymar  Messi
10  Navas  Mbappe  Neymar  Messi
30  Navas  Mbappe  Neymar  Messi

In [11]:
df_players.columns

Index([1, 7, 10, 30], dtype='int64')

In [12]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')