In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {'col1':[1,2,3,np.nan],
 'col2':[4,np.nan,6,7],
 'col3':['a','b','c',None]
 }

In [3]:
df = pd.DataFrame(dict)

In [4]:
df

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [5]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [10]:
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [12]:
df.fillna("missing")

      col1     col2     col3
0      1.0      4.0        a
1      2.0  missing        b
2      3.0      6.0        c
3  missing      7.0  missing

In [11]:
df.fillna(df.mean())

TypeError: can only concatenate str (not "int") to str

In [13]:
df.interpolate()

   col1  col2  col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [14]:
df.dropna()

   col1  col2 col3
0   1.0   4.0    a
2   3.0   6.0    c